.carousel-indicators{
    display: flex;
    margin: 0 0;
    left: 0;
    top: 70%;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    height: 64px;
}

.carousel-indicators li, .carousel-indicators li.active{
    width: auto;
    height: 48px;
    text-indent: 0;
    border: none;
    background: transparent;
    opacity: 1;
    border-radius: 0;
    margin: 0 4px;
}

.carousel-indicators li{
    opacity: 0.75
    
}



.carousel-indicators li img{
    height: 48px;
}